apiVersion: apps/v1
kind: Deployment
metadata:
  name: promotions
  labels:
    app: promotions
spec:
  replicas: 3
  selector:
    matchLabels:
      app: promotions
  template:
    metadata:
      labels:
        app: promotions
    spec:
      restartPolicy: Always
      containers:
      - name: promotions
        image: cluster-registry:5000/promotions:1.0
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
          protocol: TCP
        env:
        - name: PORT
          value: "8080"
        - name: FLASK_APP
          value: "wsgi:app"
        - name: FLASK_DEBUG
          value: "True"
        - name: GUNICORN_BIND
          value: "0.0.0.0:8080"
        - name: DATABASE_URI
          value: "postgresql+psycopg://postgres:pgs3cr3t@postgres:5432/postgres"
        resources:
          limits:
            cpu: "0.5"
            memory: "128Mi"
          requests:
            cpu: "0.25"
            memory: "64Mi"
        readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10