apiVersion: v1
kind: Service
metadata:
  name: postgres
  labels:
    app: postgres
spec:
  type: ClusterIP
  clusterIP: None  # Headless service for StatefulSet (required for StatefulSet)
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432
